<%= form_tag(new_merchant_path) do %>
  <div class="field">
    <%= label_tag :name %>
    <%= text_field_tag :name %>
  </div><br/>

  <div class="field">
    <%= label_tag :address %>
    <%= text_field_tag :address %>
  </div><br/>

  <div class="field">
    <%= label_tag :city %>
    <%= text_field_tag :city %>
  </div><br/>

  <div class="field">
    <%= label_tag :state %>
    <%= text_field_tag :state %>
  </div><br/>

  <div class="field">
    <%= label_tag :zip %>
    <%= text_field_tag :zip %>
  </div><br/>

  <div class="field">
    <%= submit_tag("Create Merchant") %>
  </div>
<% end %>
