<h2>Update Merchant</h2>
<%= form_for @merchants do |f| %>
  Name: <%= f.text_field :name %><br/><br/>
  Address: <%= f.text_field :address %><br/><br/>
  City : <%= f.text_field :city %><br/><br/>
  State    : <%= f.text_field :state %><br/><br/>
  Zip    : <%= f.text_field :zip %><br/><br/>
  <%= f.submit %>
<% end %>
