<form action="/merchants/<%= @merchant.id %>" method="post" id="form1">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="PATCH" />
  <p>Edit</p>
  <input type='text' name='merchant[name]' value="<%= @merchant.name %>"/><br/>
  <input type='text' name='merchant[address]' value="<%= @merchant.address %>"/><br/>
  <input type='text' name='merchant[city]' value="<%= @merchant.city %>"/><br/>
  <input type='text' name='merchant[state]' value="<%= @merchant.state %>"/><br/>
  <input type='text' name='merchant[zip]' value="<%= @merchant.zip %>"/><br/>

</form>
<button type="submit" form="form1" value="Submit">Submit</button>
