<h1 class="mt-4">Edit Merchant</h1>
<br />

<%= form_tag "/merchants/#{@merchant.id}", method: :patch do %>

  <p>
    <%= label_tag :name %>
    <%= text_field_tag 'merchant[name]', @merchant.name, minlength: 5, required: true, class: 'form-control' %>
  </p>

  <p>
    <%= label_tag :address %>
    <%= text_field_tag 'merchant[address]', @merchant.address, minlength: 5, required: true, class: 'form-control' %>
  </p>

  <p>
    <%= label_tag :city %>
    <%= text_field_tag 'merchant[city]', @merchant.city, minlength: 1, required: true, class: 'form-control' %>
  </p>

  <p>
    <%= label_tag :state %>
    <%= text_field_tag 'merchant[state]', @merchant.state, minlength: 2, maxlength: 2, required: true, class: 'form-control' %>
  </p>

  <p>
    <%= label_tag :zip_code %>
    <%= text_field_tag 'merchant[zip]', @merchant.zip, minlength: 5, maxlength: 5, required: true, class: 'form-control' %>
  </p>
  <br />
  <p>
    <%= submit_tag 'Update Merchant', class: 'btn btn-primary' %>
  </p>

<% end %>
