<div class="category_image" id="merchants_index_image">
  <div class="navbar">
    <span class="logo"><a href="/">MiniShop</a></span>

    <div class="nav_links">
      <%= link_to 'Item Index', '/items' %>
      <%= link_to "Merchant Index", '/merchants' %>
    </div>
  </div>

  <div class="category">
    <h1>Merchants</h1>
  </div>
</div>

<div class="display">
  <% @merchants.each do |merchant| %>
    <h2 class='name'><a href="/merchants/<%= merchant.id %>" class="button_2"><%= merchant.name %></a></h2>
  <% end %>


<%= link_to "Create New Merchant", "/merchants/new", class: 'create'%>
</div>