<h1>All Merchants</h1>

<% @merchants.each do |merchant| %>
  <section id="merchant-id-<%= merchant.id %>">
    <%= merchant.name %>
    <%= merchant.address %>
    <%= merchant.city %>
    <%= merchant.state %>
    <%= merchant.zip %>
  </section>
<% end %>

<%= link_to "Add Merchant", "/merchants/new" %>
