<h1>All Merchants</h1>

<main>
  <% @merchants.each do |merchant| %>
    <section id="merchant-id-<%= merchant.id %>">
      <h3>Name: <%= merchant.name %></h3>
      <h3>Address: <%= merchant.address %></h3>
      <h3>City: <%= merchant.city %></h3>
      <h3>State: <%= merchant.state %></h3>
      <h3>Zip: <%= merchant.zip %></h3>
    </section>
  <% end %>
</main>

<%= link_to "Add Merchant", "/merchants/new" %>
