<h1>Create a New Item</h1>

<section class="item-cards">
<section class="item-card">
<%= form_tag "/merchants/#{@merchant_id}/items", class: "form-item" do %>
  <%= label_tag :name %>
  <%= text_field_tag :name %>

  <%= label_tag :description %>
  <%= text_field_tag :description %>

  <%= label_tag :image_url %>
  <%= text_field_tag :image_url %>

  <%= label_tag :price %>
  <%= text_field_tag :price %>

  <%= label_tag :inventory %>
  <%= text_field_tag :inventory %>

  <%= submit_tag 'Submit', class: :button %>
<% end %>
</section>
</section>
