<h2>Items</h2>

<% @items.each do |item| %>
<div class="element">
  <h4> Name: <%= link_to item.name, item_path(item) %></h4>
  <p> Price: <%= item.price %></p>
  <p> Image: <img src=<%= item.image %> alt="Item Image"> </p>
  <p> Active Status: <%= item.active_status %></p>
  <p> Inventory: <%= item.inventory %></p>
</div>
<% end %>

<a class="btn btn-primary" style="margin-left: 15px"<%= link_to 'Create New Item', new_merchant_item_path(@merchant) %>
