<h1 class="mt-4">Items Sold by <%= link_to @merchant.name, "/merchants/#{@merchant.id}" %></h1>
<br />

<% @items.each do |item| %>
  <section class="card card-body bg-light item-container">

    <article class="text-container">
      <h3><%= link_to item.name, "/items/#{item.id}" %></h3><br />

      <h5>Price</h5>
      <p>$<%= "%.2f" % item.price %></p><br />

      <h5>Product Status</h5>
      <% if item.active_status %>
        <p>Active</p><br />
      <% else %>
        <p>Inactive</p><br />
      <% end %>

      <h5>Quantity in Stock</h5>
      <p><%= item.inventory %></p><br />
    </article>

    <article class="image-container">
      <img src="<%= item.image %>" alt="<%= item.name %>" />
    </article>
  </section>
  <br />
<% end %>

<br />
<h5>Don't see an item this merchant sells? <a href="/merchants/<%= @merchant.id %>/items/new">Create a new item</a></h5>
<br />
<br />
