<h1>Items</h1>

<% @items.each do |item| %>
  <h1><%= item.name %></h1>
  <p><%= item.price %></p>
  <p><%= item.image %></p>
  <p><%= item.active_status %></p>
  <p><%= item.inventory %></p>
<% end %>
