<h1> <%= link_to "#{@merchant.name}", "/merchants/#{@merchant.id}" %> </h1>
<% @merchant.items.each do |item|%>
  <h3> <%= link_to "#{item.name}", "/items/#{item.id}" %> </h3>
  <p>
    <%= item.image%>
    <%= item.price%>
    <%= item.description%>
    <%= item.active%>
    <%= item.in_stock%>
    <%= item.inventory%>
  </p>
  <hr>
<% end %>
<%= link_to 'Add an item', "/merchants/#{@merchant.id}/items/new" %>
