<h1> <%= link_to "#{@merchant.name}", "/merchants/#{@merchant.id}" %> </h1>
<hr>
<% @merchant.items.each do |item|%>
  <section class="show_info"
    <h3> <%= link_to "#{item.name}", "/items/#{item.id}" %> </h3>
    <p>
      <%= item.image%>
      <br>
      <%= item.price%>
      <br>
      <%= item.description%>
      <br>
      <%= item.in_stock%>
      <br>
      <%= item.inventory%>
    </p>
    <br>
  </section>
<% end %>
<br>
<section class="action_links">
  <%= link_to 'Add an item', "/merchants/#{@merchant.id}/items/new" %>
</section>
