<h1><%= link_to @merchant.name, "/merchants#{@merchant.id}" %> Items</h1>

<% @items.each do |item| %>
  <img src="<%= item.image %>" style="width:142px;height:142px;">
  <h3><%= item.name %></h3>
  <p>Description: <%= item.description %></p>
  <p>Price: $<%= item.price %></p>
  <p>Status: <%= item.status %></p>
  <p>Stock: <%= item.inventory %></p>
<% end %>
