<br />
<br />
<div class="container">
  <%= form_tag("/merchants", method: :post, class: "form-group") do %>
  <div class="row">
    <div class="col-6 col-md-4">
      <p class='display-4'><%= label_tag :name %></p>
      <p class='display-4'><%= label_tag :address %></p>
      <p class='display-4'><%= label_tag :city %></p>
      <p class='display-4'><%= label_tag :state %></p>
      <p class='display-4'><%= label_tag :zip %></p>
    </div>
    <div class="col-6 col-md-4">
      <p class='form-input'><%= text_field_tag :name %></p>
      <p class='form-input'><%= text_field_tag :address %></p>
      <p class='form-input'><%= text_field_tag :city %></p>
      <p class='form-input'><%= text_field_tag :state %></p>
      <p class='form-input'><%= text_field_tag :zip %></p>
    </div>
  </div>
  <br />
  <div class="s"><%= submit_tag "Create Merchant", class: "btn btn-primary" %></div>
  <% end %>
</div>
