<div class="category_image" id="merchants_create_image">
  <div class="navbar">
    <span class="logo"><a href="/">MiniShop</a></span>

    <div class="nav_links">
      <%= link_to 'Item Index', '/items' %>
      <%= link_to "Merchant Index", '/merchants' %>
    </div>
  </div>

  <div class="category">
    <h1>Enter info for a new merchant</h1>
  </div>
</div>

<div class="display">
  <%= form_tag "/merchants", method: :post, class: 'form' do %>
    <%= label_tag :name %>
    <%= text_field_tag :name %>
    <br>
    <%= label_tag :address %>
    <%= text_field_tag :address %>
    <br>
    <%= label_tag :city %>
    <%= text_field_tag :city %>
    <br>
    <%= label_tag :state %>
    <%= text_field_tag :state %>
    <br>
    <%= label_tag :zip %>
    <%= text_field_tag :zip %>
    <br>
    <%= submit_tag("submit", class: "button_2")%>
  <% end %>
</div>