<section class="box">
  <h2>New Merchant</h2>

  <%= form_tag '/merchants' do %>

    <section class="form-input">
      <%= label_tag :name %>
      <%= text_field_tag :name %>
    </section>
    <section class="form-input">
      <%= label_tag :address %>
      <%= text_field_tag :address %>
    </section>
    <section class="form-input">
      <%= label_tag :city %>
      <%= text_field_tag :city %>
    </section>
    <section class="form-input">
      <%= label_tag :state %>
      <%= text_field_tag :state %>
    </section>
    <section class="form-input">
      <%= label_tag :zipcode %>
      <%= text_field_tag :zipcode %>
    </section>

    <%= submit_tag 'Create Merchant' %>
  <% end %>
</section>
