<h2>Add a New Merchant</h2>
<%= form_tag "/merchants", method: :post do %>
  Name: <%= text_field_tag :name %><br/><br/>
  Address: <%= text_field_tag :address %><br/><br/>
  City : <%= text_field_tag :city %><br/><br/>
  State    : <%= text_field_tag :state %><br/><br/>
  Zip    : <%= text_field_tag :zip %><br/><br/>
  <%= submit_tag "Create Merchant" %>
<% end %>
