<center>
<h1>&#x1F436; Add a New Merchant &#x1F436;</h1>

<%= form_tag merchants_path do %>
  <h3>Merchant Name</h3> <%= text_field_tag :name %>
  <h3>Address</h3> <%= text_field_tag :address %>
  <h3>City</h3> <%= text_field_tag :city %>
  <h3>State</h3> <%= text_field_tag :state %>
  <h3>Zip</h3> <%= text_field_tag :zip %><br>
  <%= submit_tag %>
<% end %><br><br>
<a href="/merchants">All Merchants</a>
</center>
