<%= link_to 'Item Index', '/items' %>
<%= link_to "Merchants Index", '/merchants' %>


<h2>Enter info for a new merchant</h2>

<%= form_tag "/merchants", method: :post do %>
  <%= label_tag :name %>
  <%= text_field_tag :name %>
  <%= label_tag :address %>
  <%= text_field_tag :address %>
  <%= label_tag :city %>
  <%= text_field_tag :city %>
  <%= label_tag :state %>
  <%= text_field_tag :state %>
  <%= label_tag :zip %>
  <%= text_field_tag :zip %>
  <%= submit_tag("submit")%>
<% end %>