<a href="/merchants">Merchant Index</a>

<h1>ID <%= @merchant.id %>: <%= @merchant.name %> </h1>
<ul>
  <li>Address: <%= @merchant.address %></li>
  <li>City: <%= @merchant.city %></li>
  <li>State: <%= @merchant.state %></li>
  <li>Zip Code: <%= @merchant.zip %></li>
  </ul>

  <%= link_to "Update Merchant", "/merchants/:id/edit" %>
