<section class="merchants-show">
  <h1><%= @merchant.name %></h1>
  <p><%= @merchant.address %></p>
  <p><%= @merchant.city %>, <%= @merchant.state %> <%= @merchant.zip %></p>
  <%= link_to 'All items', "/merchants/#{@merchant.id}/items" %>
  <%= link_to  "Edit Merchant", "/merchants/#{@merchant.id}/edit" %>
  <%= button_to "Delete", "/merchants/#{@merchant.id}", method: :delete %>
</section>
