<h1><%= @merchant.name %></h1>

<p>Address: <%= @merchant.address %></p>
<p>City: <%= @merchant.city %></p>
<p>State: <%= @merchant.state %></p>
<p>Zip: <%= @merchant.zip %></p>

<a href="/merchants/<%= @merchant.id %>/edit">Edit</a>

<form action="/merchants/<%= @merchant.id %>" method="POST">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="DELETE">
  <button>Delete</button>
</form>
