<h1>Merchant Show Page</h1>

<%= link_to @merchant.name, merchant_path(@merchant) %><br>
<%= @merchant.address %>
<%= @merchant.city %>
<%= @merchant.state %>
<%= @merchant.zip %>

<%= link_to "Update Merchant", edit_merchant_path(@merchant) %>
<%= link_to "Delete Merchant", delete_merchant_path(@merchant), method: :delete %>

<%= link_to "Merchant Items", merchant_items_path(@merchant) %>

<%= link_to "Merchants", merchants_path%>
<%= link_to "Items", items_path%>
<%= link_to "Home", items_path%>
