<h1><%= @merchant.name %></h1>
  <p>Address: <%= @merchant.address %><br></p>
  <p>City: <%= @merchant.city %><br></p>
  <p>State: <%= @merchant.state %><br></p>
  <p>Zip: <%= @merchant.zip %><br></p>
