<h1><%= @merchant.name %></h1>
<p><%= @merchant.address %></p>
<p><%= @merchant.city %></p>
<p><%= @merchant.state %></p>
<p><%= @merchant.zip %></p>
<%= link_to 'All items', "/merchants/#{@merchant.id}/items" %>
<%= button_to "Delete", "/merchants/#{@merchant.id}", method: :delete %>
<%= link_to  "Edit Merchant", "/merchants/#{@merchant.id}/edit" %>
