<h1>Merchant Info</h1>
<p>Name: <%= @merchant.name %></p>
<p>Address: <%= @merchant.address %></p>
<p>City: <%= @merchant.city %></p>
<p>State: <%= @merchant.state %></p>
<p>Zip code: <%= @merchant.zip %></p>
