<h1><%= @merchant.name %></h1>

<p> Address: <%= @merchant.address %></p>
<p> City: <%= @merchant.city %></p>
<p> State: <%= @merchant.state %></p>
<p> Zip: <%= @merchant.zip %></p>

<%= link_to 'Update merchant', "/merchants/#{@merchant.id}/edit" %>
<%= link_to 'Delete merchant', "/merchants/#{@merchant.id}", method: :delete %>
