<h1 class="mt-4"><%= @merchant.name %></h1>
<br />
<section class="card card-body bg-light">

  <h4><%= link_to 'Items Sold', "/merchants/#{@merchant.id}/items" %></h4>
  <br />

  <h4>  Address:    <span class="ml-2 pl-2"><%= @merchant.address %></span></h4>
  <h4>  City:       <span class="ml-5 pl-3"><%= @merchant.city %></span></h4>
  <h4>  State:      <span class="ml-5 pl-1"><%= @merchant.state %></span></h4>
  <h4>  Zip Code:   <span class="ml-1 pl-2"><%= @merchant.zip %></span></h4>

</section>

<br />
<p class="button-row"><%= link_to 'Update Merchant', "/merchants/#{@merchant.id}/edit", class: 'btn btn-primary' %></p>
<p class="button-row"><%= link_to 'Delete Merchant', "/merchants/#{@merchant.id}", method: :delete, class: 'btn btn-danger' %></p>
<p class="button-row"><%= link_to 'Return to All Merchants', '/merchants', class: 'btn btn-secondary' %></p>
<br />
<br />
