<h2><%= @merchant.name %></h2>

<p> Street Address: <%= @merchant.address %></p>
<p> City: <%= @merchant.city %></p>
<p> State: <%= @merchant.state %></p>
<p> Zipcode: <%= @merchant.zipcode %></p>

<%= link_to 'Update Merchant', edit_merchant_path(@merchant) %>
<%= link_to 'Delete Merchant', merchant_path(@merchant), method: :delete %>
