<h1 class='title'><%= @merchant.name %></h1>

<p id='address' class='info'><%= "Address: #{@merchant.address}" %></p>
<p id='city' class='info'><%= "City: #{@merchant.city}" %></p>
<p id='state' class='info'><%= "State: #{@merchant.state}" %></p>
<p id='zip' class='info'><%= "Zip: #{@merchant.zip}" %></p>

<p class='bottom_link'>
  <%= link_to 'Edit', edit_merchant_path(@merchant) %>
  <%= link_to 'Delete', delete_merchant_path(@merchant), method: :delete %>
</p>
