<h1> <%= @merchant.name %> </h1>

<% @merchant.each do |merchant| %>
  <h2> Name: <%= merchant.name %> </h2>
  <h2> Address: <%= merchant.address %> </h2>
  <h2> City: <%= merchant.city %> </h2>
  <h2> State: <%= merchant.state %> </h2>
  <h2> Zip Code: <%= merchant.zip %> </h2>
<% end %>
