<h1><%= @merchant.name %></h1>

<p><%= @merchant.address %></p>

<p><%= @merchant.city %></p>

<p><%= @merchant.state %></p>

<p><%= @merchant.zip %></p>

<%= link_to "All Items", "/merchants/#{@merchant.id}/items" %>

<a href="/merchants/<%= @merchant.id %>/edit">Edit</a>

<%= button_to 'Delete', "/merchants/#{@merchant.id}", method: :delete %>
