<a href="/merchants">Merchants Index</a>

<h1><%= @merchant.name %></h1>
<h2><%= @merchant.address %></h2>
<h2><%= @merchant.city %></h2>
<h2><%= @merchant.state %></h2>
<h2><%= @merchant.zip %></h2>
