<h1>Merchant: <%= @merchant.name%></h1>

<h3>Address: <%= @merchant.address %></h3>
<h3>City: <%= @merchant.city %></h3>
<h3>State: <%= @merchant.state %></h3>
<h3>Zip: <%= @merchant.zip %></h3>

<p><a href='/merchants'>All merchants</a></p>
