<h1><%= @merchant.name %></h1>

<section>
  <p><%= "Address: #{@merchant.address}" %></p>
  <p><%= "City:    #{@merchant.city}" %></p>
  <p><%= "State:   #{@merchant.state}" %></p>
  <p><%= "ZIP:     #{@merchant.zip}" %></p>
</section>