  <h2>Name: <%= @merchant.name  %></h2>
  <h2>Address: <%= @merchant.address  %></h2>
  <h2>City: <%= @merchant.city  %></h2>
  <h2>State: <%= @merchant.state %></h2>
  <h2>Zip Code: <%= @merchant.zip %></h2>

  <%= link_to "Delete Merchant", "/merchants/#{@merchant.id}", method: :delete %>
  <%= link_to "Update Merchant", "/merchants/#{@merchant.id}/edit" %>
