<h1>Name: <a href="/merchants/<%=@merchant.id%>"> <%= @merchant.name %></h1>
<h2><a href="/merchants/<%=@merchant.id%>/items"> All <%= @merchant.name %> Items </h2>
<p>address: <%= @merchant.address %></p>
<p>city: <%= @merchant.city %></p>
<p>state: <%= @merchant.state %></p>
<p>zip: <%= @merchant.zip %></p>


<a href="/merchants/<%= @merchant.id %>/edit">Update</a>
<%= link_to "Delete", "/merchants/#{@merchant.id}", method: :delete %>
<%= link_to "View Items", "/merchants/#{@merchant.id}/items", method: :get %>
