<a href="/merchants">Merchants Index</a>

<h1><%= @merchant.name %></h1>
<h1><%= @merchant.address %></h1>
<h1><%= @merchant.city %></h1>
<h1><%= @merchant.state %></h1>
<h1><%= @merchant.zip %></h1>
