<h1>Merchant <%= @merchant.name %></h1>

<p>Address: <%= @merchant.address %>, <%= @merchant.city %>,
  <%=@merchant.state %>, <%= @merchant.zip %></p>

<p><%= link_to "Edit Merchant Information", "/merchants/#{@merchant.id}/edit" %> </p>
<%= link_to 'Delete Merchant', "/merchants/#{@merchant.id}", method: :delete %>
