<p><%= @merchant.name %></p>
<p><%= @merchant.address %></p>
<p><%= @merchant.city %></p>
<p><%= @merchant.state %></p>
<p><%= @merchant.zip %></p>
<p><%= link_to "All #{@merchant.name} Items", "/merchants/#{@merchant.id}/items" %></p>
<p><%= link_to 'Edit Merchant', "/merchants/#{@merchant.id}/edit" %></p>
<p><%= link_to 'Delete Merchant', "/merchants/#{@merchant.id}", method: :delete %></p>
