<h1>Name:<%= @merchant.name %></h1>
<p>address:<%= @merchant.address %></p>
<p>city:<%= @merchant.city %></p>
<p>state:<%= @merchant.state %></p>
<p>zip:<%= @merchant.zip %></p>


<a href="/merchants/<%= @merchant.id %>/edit">Update</a>
<%= link_to "Delete", "/merchants/#{@merchant.id}", method: :delete %>
