<h1>Merchant <%= @merchant.name %></h1>

<p>Address: <%= @merchant.address %>, <%= @merchant.city %>,
  <%=@merchant.state %>, <%= @merchant.zip %></p>

<p><a href="/merchants/<%= @merchant.id %>/edit">Edit Merchant Information</a></p>
