<h2>Merchant #<%= "#{@merchant.id}" %></h2><br><hr><br>
<p>Name: <%= @merchant.name %></p>
<p>Address: <%= @merchant.address %></p>
<p>City: <%= @merchant.city %></p>
<p>State: <%= @merchant.state %></p>
<p>Zip: <%= @merchant.zip %></p><br><hr>

<%= link_to 'Edit Merchant', "/merchants/#{@merchant.id}/edit" %><br>
<%= link_to 'Merchant Index', "/merchants" %>
