<h1><%= @merchant.name %></h1><br/>

<p><%= @merchant.address %></p>

<p><%= @merchant.city %></p>

<p><%= @merchant.state %></p>

<p><%= @merchant.zip %></p>

<p><%= link_to 'Edit', edit_merchant_path(@merchant) %></p>
