<h1><%= @merchant.name %></h1>
<h3> Address: <%= @merchant.address %> </h3>
<h3> City: <%= @merchant.city %> </h3>
<h3> State: <%= @merchant.state %> </h3>
<h3> Zip: <%= @merchant.zip %> </h3>

<%= link_to "Update Merchant", "/merchants/#{@merchant.id}/edit" %>
<%= link_to "Delete Merchant", "/merchants/#{@merchant.id}", method: :delete %>
