<h2><%= @merchant.name %></h2>

<p><%= @merchant.address %></p>

<p><%= @merchant.city %></p>

<p><%= @merchant.state %></p>

<p><%= @merchant.zip %></p>

<p><%= link_to 'Edit', "/merchants/#{@merchant.id}/edit" %><p>
<p><%= button_to 'Delete', "/merchants/#{@merchant.id}", method: :delete %><p>
