<h1>Merchant Info</h1>
<p>Name: <%= @merchant.name %></p>
<p>Address: <%= @merchant.address %></p>
<p>City: <%= @merchant.city %></p>
<p>State: <%= @merchant.state %></p>
<p>Zip code: <%= @merchant.zip %></p>

<p><%= link_to "Edit", "/merchants/#{@merchant.id}/edit" %></p>
<p><%= link_to "Delete", "/merchants/#{@merchant.id}/delete" %></p>
