<a href="/merchants">Merchant Index</a>

<h1><%= @merchant.name %></h1>

<p><%= @merchant.address %></p>
<p><%= @merchant.city %></p>
<p><%= @merchant.state %></p>
<p><%= @merchant.zip %></p>

<h3><%= link_to 'Edit', "/merchants/#{@merchant.id}/edit" %></h3>
<h3><%= link_to 'Delete', "/merchants/#{@merchant.id}", method: :delete %></h3>
