<h1 class='title'><%= @merchant.name %></h1>

<p id='address' class='info'><%= "Address: #{@merchant.address}" %></p>
<p id='city' class='info'><%= "City: #{@merchant.city}" %></p>
<p id='state' class='info'><%= "State: #{@merchant.state}" %></p>
<p id='zip' class='info'><%= "Zip: #{@merchant.zip}" %></p><br/>

<section class='nav-2'>
  <section class='nav-group'>
    <section role="group" class="btn-group">
      <%= button_to 'View Items', merchant_items_path(@merchant), method: :get, class: 'nav-btn' %>
    </section>
    <section role="group" class="btn-group">
      <%= button_to 'Add Item', new_item_path(@merchant), method: :get, class: 'nav-btn' %>
    </section>
    <section role="group" class="btn-group">
      <%= button_to 'Edit', edit_merchant_path, method: :get, class: 'nav-btn' %>
    </section>
    <section role="group" class="btn-group">
      <%= button_to 'Delete', delete_merchant_path, method: :delete, class: 'nav-btn' %>
    </section>
  </section>
</section>
