<h1 class="mt-4"><%= @merchant.name %></h1>
<br />

<h4>  Address:    <span class="ml-2 pl-2"><%= @merchant.address %></span></h4>
<h4>  City:       <span class="ml-5 pl-3"><%= @merchant.city %></span></h4>
<h4>  State:      <span class="ml-5 pl-1"><%= @merchant.state %></span></h4>
<h4>  Zip Code:   <span class="ml-1 pl-2"><%= @merchant.zip %></span></h4>
<br />

<p><a href="/merchants/<%= @merchant.id %>/edit" class="btn btn-primary">Update Merchant</a></p>

<form action="/merchants/<%= @merchant.id %>", method="POST">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
  <input type="hidden" name="_method" value="DELETE" />
  <input type="submit" name="delete_merchant" value="Delete Merchant" class="btn btn-danger"/>
</form>

<br />
<br />
<p><a href="/merchants" class="btn btn-secondary">Return to All Merchants</a></p>
