<h1>Update <%= link_to "#{@merchant.name}", "/merchants/#{@merchant.id}" %></h1>
<hr>
<%= form_tag "/merchants/#{@merchant.id}", method: :patch do %>
  <%= label_tag :name%>
  <br>
  <%= text_field_tag :name, value = @merchant.name %>
  <br>
  <%= label_tag :address%>
  <br>
  <%= text_field_tag :address, value = @merchant.address %>
  <br>
  <%= label_tag :city%>
  <br>
  <%= text_field_tag :city, value = @merchant.city %>
  <br>
  <%= label_tag :state%>
  <br>
  <%= text_field_tag :state, value = @merchant.state %>
  <br>
  <%= label_tag :zip%>
  <br>
  <%= text_field_tag :zip, value = @merchant.zip%>
  <br>
  <%= submit_tag 'Submit Changes'%>
<% end %>
