<h1><%= @merchant.name%> Items</h1>

<ul id="items">
  <% @items.each do |item| %>
      <%= link_to item.name, "items/#{item.id}" %>
      <p>Price: $<%= '%.2f' % item.price %></p>
      <p>Image: <%= image_tag(item.image_url, {:style =>'max-width:250px;max-height:250px'}) %></p>
      <% if item.status == true %>
        <p>Status: active</p>
      <% elsif item.status == false %>
        <p>Status: inactive</p>
      <% end %>
      <p>Inventory: <%= item.inventory %></p>
      <br />
      <br />
  <% end %>
</ul>

<%= link_to "Active Items", "/merchants/#{params[:merchant_id]}/items?status=true" %>
<br />
<%= link_to "Inactive Items", "/merchants/#{params[:merchant_id]}/items?status=false" %>
<br />
<%= link_to "Add New Item", "/merchants/#{params[:merchant_id]}/items/new" %>
