<% @items.each do |item| %>
  <h2><%= item.name %></h2>
  <p><%= item.price %></p>
  <%= image_tag ("#{item.image}") %>
  <p><%= item.description %></p>
  <p><%= item.active %></p>
  <p><%= item.inventory %></p>
<% end %>
<br>
<%= link_to 'New Item', "/merchants/#{@merchant.id}/items/new" %>
