<h1><%= link_to @merchant.name, "/merchants/#{@merchant.id}" %>'s Items</h1>

<main>
  <% @items.each do |item| %>
    <section id="merchant-item-id-<%= item.id %>">
      <%= image_tag item.image, alt: "image of #{item.name}" %>
      <h2>Name: <%= item.name %></h2>
      <h3>Price: <%= number_to_currency(item.price) %></h3>
      <h3>Description: <%= item.description %></h3>
      <h3>Active: <%= item.active %></h3>
      <h3>Inventory: <%= item.inventory %></h3>
    </section>
  <% end %>
</main>

<%= link_to "Add Item", "/merchants/#{@merchant.id}/items/new" %>
