<h2> <%= @merchant.name %> </h2>

<h1>Items</h1>

<% @items.each do |item| %>
  <h3> <%= link_to item.name, "/items/#{item.id}" %> </h3>
  <p> Description: <%= item.description %> </p>
  <%= image_tag item.image, style: 'height:33%;width:33%;' %>
  <p> Price: <%= item.price %> </p>
  <p> Status: <%= item.status %> </p>
  <p> Inventory: <%= item.inventory %> </p>
<% end %>

