<h1><%= @merchant.name %>'s Items</h1>
<% @items.each do |item| %>
<%= image_tag item.image, alt: "image of #{item.name}" %>
<h2>Name: <%= item.name %></h2>
<h3>Price: <%= item.price %></h3>
<h3>Active: <%= item.status %></h3>
<h3>Inventory: <%= item.inventory %></h3>
<% end %>
