<p id='description' class='info'><%= "Description: #{item.description}" %></p>
<p id='price' class='info'><%= "Price: #{item.price}" %></p>
<p id='image' class='info'><%= "Image: #{item.image}" %></p>
<p id='active' class='info'><%= "Active: #{item.active}" %></p>
<p id='inventory' class='info'><%= "Inventory: #{item.inventory}" %></p>
