<form action="/items/<%= @item.id %>" method="post" id="form1">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="PATCH" />
  <p>Edit <%=@item.name%></p>
  <p>Name: </p><input type='text' name='item[name]' value="<%= @item.name %>" class='form-control'/><br/>
  <p>Description: </p><input type='text' name='item[description]' value="<%= @item.description %>" class='form-control' /><br/>
  <p>Price: </p><input type='number' name='item[price]' value="<%= @item.price %>" class='form-control' max=999999999 min=0  step='0.01' /><br/>
  <p>Image URL</p><input type='url' name='item[image_url]' value="<%= @item.image_url %>" class='form-control' /><br/>
  <p>Status: </p><input type='text' name='item[status]' value="<%= @item.status %>" class='form-control'/><br/>
  <p>Inventory: </p><input type='number' name='item[inventory]' value="<%= @item.inventory %>" class='form-control' max=999999999 min=0 /><br/>

</form>
<button type="submit" form="form1" value="Submit">Submit</button>
