<h1 class="mt-4">Edit Item</h1>
<br />

<form action="/items/<%= @item.id %>" method="POST">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
  <input type="hidden" name="_method" value="PATCH" />

  <p>Name</p>
  <input type="text" name="item[name]" class="form-control" value="<%= @item.name %>" /><br />

  <p>Price</p>
  <input type="number" step="0.01" min="0" name="item[price]" class="form-control" value="<%= @item.price %>" /><br />

  <p>Description</p>
  <textarea name="item[description]" class="form-control"><%= @item.description %></textarea><br />

  <p>Image (URL)</p>
  <input type="text" name="item[image]" class="form-control" value="<%= @item.image %>" /><br />

  <p>Quantity in Stock</p>
  <input type="number" step="1" min="0" name="item[inventory]" class="form-control" value="<%= @item.inventory %>" /><br />

  <input type="submit" name="update_item" value="Update Item" class="btn btn-primary"/>
</form>
