<form action="/items/<%= @item.id %>" method="post" id="form1">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="PATCH" />
  <p>Edit</p>
  <input type='text' name='item[name]' value="<%= @item.name %>"/><br/>
  <input type='text' name='item[description]' value="<%= @item.description %>"/><br/>
  <input type='text' name='item[price]' value="<%= @item.price %>"/><br/>
  <input type='text' name='item[image_url]' value="<%= @item.image_url %>"/><br/>
  <input type='text' name='item[status]' value="<%= @item.status %>"/><br/>
  <input type='text' name='item[inventory]' value="<%= @item.inventory %>"/><br/>

</form>
<button type="submit" form="form1" value="Submit">Submit</button>
