<h2>Edit Item</h2>
<%= form_tag "/items/#{@item.id}", method: :patch do %>
  <p><%= label_tag :name %>
  <%= text_field_tag :name, @item.name %></p>
  <p><%= label_tag :price %>
  <%= text_field_tag :price, @item.price %></p>
  <p><%= label_tag :description %>
  <%= text_field_tag :description, @item.description %></p>
  <p><%= label_tag :image %>
  <%= text_field_tag :image, @item.image %></p>
  <p><%= label_tag :inventory %>
  <%= text_field_tag :inventory, @item.inventory %></p>
  <p><%= submit_tag 'Update Item' %>
<% end %>
