<h2>Update <a href="/items/<%=@item.id%>"><%= @item.name  %></h2>
<%= form_tag "/items/#{@item.id}", method: :patch do %>
  Name: <%= text_field_tag :name, @item.name %><br/><br/>
  Price : <%= text_field_tag :price, @item.price %><br/><br/>
  Description: <%= text_field_tag :description, @item.description %><br/><br/>
  Image    : <%= text_field_tag :image, @item.image %><br/><br/>
  Inventory    : <%= text_field_tag :inventory, @item.inventory %><br/><br/>
  <%= submit_tag "Submit Item Update" %>
<% end %>
