<section class="box">
  <h2>Edit Item</h2>

  <%= form_tag "/items/#{@item.id}", method: :patch do %>

    <section class="form-input">
      <%= label_tag :name %>
      <%= text_field_tag :name %>
    </section>
    <section class="form-input">
      <%= label_tag :description %>
      <%= text_field_tag :description %>
    </section>
    <section class="form-input">
      <%= label_tag :price %>
      <%= text_field_tag :price %>
    </section>
    <section class="form-input">
      <%= label_tag :image %>
      <%= text_field_tag :image %>
    </section>
    <section class="form-input">
      <%= label_tag :active %>
      <%= text_field_tag :active %>
    </section>
    <section class="form-input">
      <%= label_tag :inventory %>
      <%= text_field_tag :inventory %>
    </section>

    <%= submit_tag 'Submit' %>
  <% end %>
</section>
