<div class="pageheaders">
  <h1>Edit Item</h1>
</div>


<%= form_tag("/items/#{@item.id}", method: :patch) do %>
  <%= label_tag :name %> <br><br>
  <%= text_field_tag :name, @item.name %><br><br>
  <%= label_tag :description %> <br><br>
  <%= text_field_tag :description, @item.description %><br><br>
  <%= label_tag :price %><br><br>
  <%= text_field_tag :price, @item.price %><br><br>
  <%= label_tag :image %> <br><br>
  <%= text_field_tag :image, @item.image %><br><br>
  <%= label_tag :inventory %><br><br>
  <%= text_field_tag :inventory, @item.inventory %><br><br>
  <%= submit_tag "Update Item" %>
<% end %>
