<%= form_tag "/items/#{@item.id}", method: :patch do %>
  <p><%= label_tag :name %></p>
  <p><%= text_field_tag :name%></p>
  <p><%= label_tag :price %></p>
  <p><%= text_field_tag :price%></p>
  <p><%= label_tag :description %></p>
  <p><%= text_field_tag :description%></p>
  <p><%= label_tag :image %></p>
  <p><%= text_field_tag :image %></p>
  <p><%= label_tag :inventory %></p>
  <p><%= text_field_tag :inventory%></p>
  <p><%= submit_tag "Update Item"%></p>
<% end %>
