<% if !@merchant %>
  <h1 class="primary-heading">All Items</h1>
<% end %>

<% @items.each do |item| %>
  <img class="img" src=<%= "#{item.image}" %>>
  <h2><%= link_to("#{item.name}", "/items/#{item.id}", class: "normal_link") %></h2>
  <p><%= item.description %></p>
  <p>Price: $<%= item.price %></p>
  <p>Item status: <%= item.status %></p>
  <p>Number in stock: <%= item.inventory %></p>
  <h3>Merchant: <%= link_to("#{item.merchant.name}", "/merchants/#{item.merchant.id}", class: "normal_link") %>
  <br/>
  <br/>
<% end %>

<% if @merchant %>
  <h3><%= link_to("Create New Item", "/merchants/#{params[:merchant_id]}/items/new", class: "button_link") %></h3>
<% end %>
