<h1>All Items</h1>


<% @items.each do |item| %>
  <h2>Name: <%= item.name %></h2>

  <p>Description: <%= item.description %></p>
  <p>Price: <%= item.price %></p>
  <p>Image: <%= item.image %></p>
  <p>Status: <%= item.status %></p>
  <p>Inventory: <%= item.inventory %></p>
  <p>Merchant Name: <%= item.merchant.name %></p>
<% end %>
