<h1 class="items-header">Items</h1>

<section class="item-cards">
<% @items.each do |item| %>
  <section class="item-card">
  <%= image_tag(item.image) %>
  <h3><%= link_to "#{item.name}", "/items/#{item.id}" %></h3>
  <p><%= item.description %></p>
  <p>Price: $<%= item.price %></p>
  <p>Status: <%= item.status %></p>
  <p>Inventory: <%= item.inventory %></p>
  <p>Merchant: <%= link_to "#{item.merchant_name}", "/merchants/#{item.merchant.id}" %></p>
  </section>
<% end %>
</section>
