<h1>Items</h1>
<hr>
<% @items.each do |item| %>
<section class="index_item">
  <h3 class="link"> <%= link_to "#{item.name}", "/items/#{item.id}" %> </h3>
  <p>
    <%= item.image%>
    <%= item.price%>
    <%= item.description%>
    <%= item.active%>
    <%= item.in_stock%>
    <%= item.inventory%>
    <%= link_to "#{Merchant.find(item.merchant_id).name}", "/merchants/#{item.merchant_id}"%>
  </p>
</section>
<% end %>
<hr>
