<h1>All Items</h1>

<ul id="items">
  <% @items.each do |item| %>
    <li>
      <%= link_to item.name, "items/#{item.id}" %>
      <p>Description: <%= item.description %></p>
      <p>Price: $<%= item.price %></p>
      <p>Image: <%= image_tag(item.image, {:style =>'max-width:250px;max-height:250px'}) %></p>
      <p>Status: <%= item.status %></p>
      <p>Inventory: <%= item.inventory %></p>
      <p>Merchant: <%= (Merchant.find {|merchant| merchant.id == item.merchant_id}).name %></p>
    </li>
  <% end %>
</ul>
