<h1>Items</h1>

<% @items.each do |item| %>
  <h3><%= item.name %></h3>
  <h3><%= item.description %></h3>
  <h3><%= item.price %></h3>
  <h3><%= item.image %></h3>
  <h3><%= item.status %></h3>
  <h3><%= item.inventory %></h3>
  <h3><%= item.merchant.name %></h3>

<% end %>
