<nav>
  <span class="page-title">Items</span>
  <% unless @merchant.nil? %>
    <span><%= link_to "Add New Item", "/merchants/#{@merchant.id}/items/new" %></span>
  <% end %>
</nav>

<% @items.each do |item| %>
    <img src="<%= item.image %>" class="item-image">
    <h3><%= item.name %></h3>
    <% if @merchant.nil? %>
      <p>Description: <%= item.description %></p>
    <% end %>
    <p>Price: <%= "$#{item.price}" %></p>
    <p>Status: <%= item.status %></p>
    <p>Inventory: <%= item.inventory %></p>
    <p>Merchant: <%= link_to "#{item.merchant.name}", "/merchants/#{item.merchant.id}"%></p>
    <p><%= link_to 'View Item', "/items/#{item.id}" %></p>
<% end %>
