<h1>All Items</h1>
<h3><%= link_to "Active Items", "/items?status=0" %></h3>
<h3><%= link_to "Inactive Items", "/items" %></h3>

<% @items.each do |item| %>
  <ul>
  <li>Name: <%= link_to item.name, "/items/#{item.id}" %></li>
  <li>Description: <%= item.description %></li>
  <li>Price: $<%= item.price %></li>
  <li>Image Url: <%= item.image_url %></li>
  <li>Status: <%= Item.status(item.status) %></li>
  <li>Inventory Count: <%= item.inventory %></li>
  <li>Merchant Name: <%= link_to item.merchant.name, "/merchants/#{item.merchant.id}"%></li>
  </ul>
  <%= link_to "Add new Item for this Merchant", "/merchants/#{item.merchant.id}/items/new"  %>
  <p>___________________________________________________________</p>
<% end %>
