<!-- As a visitor
When I visit '/items'
Then I see each Item in the system including the Item's:
- name
- description
- price
- image
- active/inactive status
- inventory
- the name of the merchant that sells the item -->
<h1>All Items</h1>
<ol>
<% @items.each do |item| %>
<li><h3><%= item.name %></h3></li>
<ul>
  <li>Description: <%= item.description %></li>
  <li>Price: $<%= item.price %></li>
  <li>Status: <% if item.status == true %>
              <%= "Available" %>
              <% else %>
              <%= "Unavailable" %>
              <% end %></li>
  <li>Quantity: <%= item.inventory %></li>
  <li>Selling Merchant: <%= item.merchant.name %></li>
</ul><br>

<img src="<%= item.image %>" alt="<%= item.name %>" height="60" width="60">
<% end %>
</ol><hr>
