<h1>Item Index</h1>

<% @items.each do |item| %>
  <%= link_to item.name, item_path(item) %><br>
  <%= link_to item.merchant.name, merchant_path(item.merchant) %><br>
  <%= item.description %><br>
  <%= item.image %><br>
  <%= item.price %>
  <%= item.status %><br>
  <%= item.inventory %><br>

<% end %>
<%= link_to "Merchants", merchants_path%>
<%= link_to "Home", welcome_path%>
