<h2>Items Index</h2>

<% @items.each do |item| %>
  <h3><%= item.name %></h3>
    <ul>
      <li> description: <%= item.description %> </li>
      <li> price: <%= item.price %> </li>
      <li> active: <%= item.active %> </li>
      <li> inventory: <%= item.inventory %> </li>
      <li> merchant:  <%= item.merchant_name %> </li>
      <%= image_tag item.image %>
    </ul>
    <% if @merchant %>
      <h3><%= link_to "Create a new item!", "/merchants/#{@merchant.id}/items/new" %></h3>
    <% end %>
<% end %>
