<%= link_to 'Item Index', '/items' %>
<%= link_to "Merchant Index", '/merchants' %>

<h1>Items</h1>

<% @items.each do |item| %>
 <h2><%= link_to item.name, "/items/#{item.id}" %></h2>
 <p><%= item.description %></p>
 <p><%= item.price %></p>
  <%= image_tag item.image, style: 'height:33%;width:33%;' %>
 <p><%= item.status %></p>
 <p><%= item.inventory %></p>
 <%= link_to item.merchant_name, "/merchants/#{item.merchant.id}" %>
 <hr>
<% end %>