
<% if params.has_key?(:id) %>
          #items.first.merchant.name
  <h1> <%= (Merchant.where(id: params[:id]))[0].name %> Items </h1>
<% end %>

<ul id="items">

  <% @items.each do |item| %>
      <%= link_to item.name, "items/#{item.id}" %>
      <p>Description: <%= item.description %></p>
      <p>Price: $<%= item.price %></p>
      <p>Image: <%= image_tag(item.image, {:style =>'max-width:250px;max-height:250px'}) %></p>
      <p>Status: <%= item.status %></p>
      <p>Inventory: <%= item.inventory %></p>
      <% if !params.has_key?(:id) %>
                               item.merchant.name
        <p>Merchant: <%= (Merchant.find {|merchant| merchant.id == item.merchant_id}).name %></p>
      <% end %>
      <br />
      <br />
  <% end %>
</ul>

<% if params.has_key?(:id) %>
                                            items
  <%= link_to "Add New Item", "/merchants/#{(Merchant.where(id: params[:id]))[0].id}/items/new" %>
<% end %>
