<h2>Items Index</h2>

<% @items.each do |item| %>
  <h4> Item Name: <%= link_to item.name, item_path(item) %></h4>
  <p> Description: <%= item.description %></p>
  <p> Price: <%= item.price %></p>
  <p> Image: <%= item.image %></p>
  <p> Active Status: <%= item.active_status %></p>
  <p> In Stock: <%= item.inventory %></p>
  <p> Merchant: <%= link_to item.merchant.name, merchant_path(item.merchant) %></p>
<% end %>
