<br>
<div class="container">
  <div class="row">
    <% @items.each do |item| %>
      <div class="col-sm">
        <div class="card" style="width: 18rem; height: 35rem;">
          <img src = <%= item.image %> class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title"><%= link_to item.name, "/items/#{item.id}" %></h5>
            <p class="card-text"><%= item.description %></p>
            <p class="card-text">Price: <%= item.price %></p>
            <p class="card-text">Status: <%= item.status %></p>
            <p class="card-text">Inventory: <%= item.inventory %></p>
            <p class="card-text">Merchant: <%= link_to item.merchant.name, "/merchants/#{item.merchant.id}" %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
