<!-- As a visitor
When I visit '/items'
Then I see each Item in the system including the Item's:
- name
- description
- price
- image
- active/inactive status
- inventory
- the name of the merchant that sells the item -->
<% if @merchant %>
<h1><%= @merchant.name %></h1>
<p><%= link_to "Add New Item", "merchants/#{@merchant.id}/items/new" %></p><br>
<% else %>
<h1>All Items</h1>
<% end %>
<ol>
<% @items.each do |item| %>
<li><h3><%= item.name %></h3></li>
<ul>
  <li>Description: <%= item.description unless @merchant %></li>
  <li>Price: $<%= item.price %></li>
  <li>Status: <% if item.status == true %>
              <%= "Available" %>
              <% else %>
              <%= "Unavailable" %>
              <% end %></li>
  <li>Quantity: <%= item.inventory %></li>
  <li>Selling Merchant: <%= item.merchant.name %></li>
</ul><br>

<img src="<%= item.image %>" alt="<%= item.name %>" height="60" width="60">
<% end %>
</ol><br><hr>
