<h1>All Items</h1>

<% @items.each do |item| %>
  <p>
    <%= link_to "#{item.name}", "/items/#{item.id}" %>
    <ul>
      <li><%= item.description %></li>
      <li><%= item.price %></li>
      <li><%= item.image %></li>
      <li><%= item.active %></li>
      <li><%= item.inventory %></li>
      <li><%= link_to "#{item.merchant.name}", "/merchants/#{item.merchant.id}" %></li>
    </ul>
  </p>
<% end %>