<h1 class="mt-4">List of Items</h1>
<br />

<% @items.each do |item| %>
  <section class="card card-body bg-light item-container">

    <article class="text-container">
      <h3><%= link_to item.name, "/items/#{item.id}" %></h3><br />

      <h5>Description</h5>
      <p><%= item.description %></p><br />

      <h5>Price</h5>
      <p>$<%= "%.2f" % item.price %></p><br />

      <h5>Product Status</h5>
      <% if item.active_status %>
        <p class="active">Active</p><br />
      <% else %>
        <p class="inactive">Inactive</p><br />
      <% end %>

      <h5>Quantity in Stock</h5>
      <p><%= item.inventory %></p><br />

      <h5>Merchant</h5>
      <p><%= link_to item.merchant.name, "/merchants/#{item.merchant.id}" %></p>
    </article>

    <article class="image-container">
      <img src="<%= item.image %>" alt="<%= item.name %>" />
    </article>
  </section>
  <br />
<% end %>
