<!-- As a visitor
When I visit '/items'
Then I see each Item in the system including the Item's:
- name
- description
- price
- image
- active/inactive status
- inventory
- the name of the merchant that sells the item -->
<h1>All Items</h1>

<% @items.each do |item| %>

<h3><%= item.name %></h3><br>
<ul>
  <li>Description: <%= item.description %></li>
  <li>Price $: <%= item.price %></li>
  <li>Status: <% if item.status == true %>
              <%= puts "Available" %>
              <% else %>
              <%= puts "Unavailable" %>
              <% end %></li>
  <li>Quantity: <%= item.inventory %></li>
  <li>Selling Merchant: <%= item.merchant.name %></li>
</ul><br>

<img src="<%= item.image %>" alt="<%= item.name %>" height="30" width="30">

<% end %>
