<h1>All Items</h1>

<% @items.each do |item| %>
<%= image_tag item.image, alt: "image of #{item.name}" %>
    <h2>Name: <%= item.name %></h2>
    <h3>Description: <%= item.description %></h3>
    <h3>Price: <%= item.price %></h3>
    <h3>Status: <%= item.status %></h3>
    <h3>Inventory: <%= item.inventory %></h3>
    <h3>Merchant: <%= item.merchant.name %></h3>
  <% end  %>
