<% if @merchant %>
  <h1><a href="/merchants/<%=@merchant.id%>"><%= @merchant.name %> Items</h1>
<% else %>
  <h1>All Items</h1>
<% end %>
<% @items.each do |item| %>
  <h2><a href="/items/<%=item.id %>"><%= item.name %></a></h2>
  <p>description:<%= item.description %></p>
  <p>price:<%= item.price %></p>
  <p>image: <img src=<%=item.image %>></p>
  <p>inventory:<%= item.inventory %></p>
  <p>active:<%= item.active %></p>
  <p>merchant name:<%= Merchant.find(item.merchant_id).name %>
<% end %>
<% if @merchant %>
  <%= link_to "Create New Item", "/merchants/#{@merchant.id}/items/new", method: :get %>
<% end %>
