<html>

<head>
  <%= stylesheet_link_tag "main" %>
</head>

<body>
  <div class="pageheaders">
    <h1>All Items</h1>
  </div>

<div class="headerallitemspage">


</div>

<% @items.each do |item| %>
  <h4 style="display: inline" > Name: </h4>
  <a style="color: #000000; text-decoration: underline;" href= <%= "/items/#{item.id}"%>> <%= item.name %></a>
  <h4>Description: <%= item.description %></h4>
  <h4>Price: <%= number_to_currency(item.price) %></h4>
  <h4>Status: <%= item.status %></h4>
  <img src = <%= item.image %> ></img>
  <h4>Inventory: <%= item.inventory %></h4>
  <h4 style="display: inline" > Merchant: </h4>
  <a style="color: #000000; text-decoration: underline;" href= <%= "/merchants/#{item.merchant_id}"%>> <%= item.merchant.name %> </a>
  <p>------------------------------------</p>
<% end %>
</body>
</html>
