<h1>All Items</h1>

<% @items.each do |item| %>
  <h4>Name: <%= item.name %></h4>
  <h4>Description: <%= item.description %></h4>
  <h4>Price: <%= number_to_currency(item.price) %></h4>
  <h4>Status: <%= item.status %></h4>
  <img src = <%= item.image %> ></img>
  <h4>Inventory: <%= item.inventory %></h4>
  <!-- <h4>Merchant: <%= item.merchant_id %></h4> -->
  <h4>Merchant: <%= item.merchant.name %></h4>
  <p>------------------------------------</p>
<% end %>
