<style>
/* .box {
  color: green;
  background-color: grey;
  color: wheat; --darkreader-inline-color:#f5deb3;
  margin: auto;
  width: 50%;
  border: 3px dark yellow;
  padding: 10px;
} */

/* img {
    height:200px;
    width: 250px;
    /* float:left; */
    /* } */

/* .item_box, .gfg {
  display: inline-block;
  vertical-align: top;
} */

/* .item_box {
  width: 500px;
} */

/* .item-info {
  /* float:right;
} */

</style>

<section class="box">
  <% if @merchant != nil %>
  <p><%= link_to "Create a new item!", "/merchants/#{@merchant.id}/items/new" %></p>
  <% end %>
  <h2>Items</h2>

  <% @items.each do |item| %>
    <section>
      <h3><%= item.name %></h3>
      <!-- <section> -->
      <section class="item_box">
        <section class="item-img"><%= image_tag item.image %></section>
        <ul class="item-info-list">
          <li class="item-info"> description: <%= item.description %> </li>
          <li class="item-info"> price: <%= item.price %> </li>
          <li class="item-info"> active: <%= item.active %> </li>
          <li class="item-info"> inventory: <%= item.inventory %> </li>
        </ul>
      </section>
    </section>
  <% end %>
</section>
