<center>
<% if @merchant %>
  <h1><a href="/merchants/<%=@merchant.id%>"><%= @merchant.name %> Items</h1>
<% else %>
  <h1>All Items</h1>
<% end %>

<section class="boxes-container">
  <% @items.each do |item| %>
    <section class="single-box">
      <div id="item-pic">
        <%= link_to "/items/#{item.id}" do %>
          <img src="<%=item.image %>" id="single-pic">
        <% end %>
      </div>
      <div class="">
        <p><%= link_to "#{item.name}", "/items/#{item.id}", method: :get %></p>
        <p>description:<%= item.description %></p>
        <p>price:<%= number_to_currency(item.price) %></p>
        <p>inventory:<%= item.inventory %></p>
        <p>active:<%= item.active? %></p>
        <p><%= link_to "#{Merchant.find(item.merchant_id).name}", "/merchants/#{item.merchant_id}", method: :get %></p>
      </div>
    </section>
  <% end %>
</section>



<% if @merchant %>
  <%= link_to "Create New Item", "/merchants/#{@merchant.id}/items/new", method: :get %>
<% end %>
</center>
