<h1 class='title'>
  All Items
  <% unless @merchant.nil? %>
    for
    <%= link_to @merchant.name, merchant_path(@merchant) %>
  <% end %>
</h1>

<% @items.each do |item| %>
  <section id='item-<%= item.id %>' class='item'>
    <h2><%= item.name %></h2>
    <ul class='ul-details'>
      <li><%= item.description %></li>
      <li><%= item.price %></li>
      <li><%= item.image %></li>
      <li><%= item.active %></li>
      <li><%= item.inventory %></li>
      <li><% if @merchant.nil? %>
        <%= link_to item.merchant.name, merchant_path(item.merchant) %>
      <% end %></li>
    </ul>
  </section>
<% end %>

<% unless @merchant.nil? %>
  <p class='bottom_link'><%= link_to 'New Item', new_item_path %></p>
<% end %>
