<section class="page-wrapper">
  <div class="page-title-bar">
    <span class="page-title">Items</span>
    <span>
      <div class="dropdown">
        <button class="dropbtn">Sort By</button>
        <div class="dropdown-content">
          <a href="?sort=max-price">Price: High - Low</a>
          <a href="?sort=min-price">Price: Low - High</a>
          <a href="?sort=a-z">Name: A - Z</a>
          <a href="?sort=z-a">Name: Z - A</a>
        </div>
      </div>
    <% unless @merchant.nil? %>
      <%= link_to "Add New Item", "/merchants/#{@merchant.id}/items/new", class: "btn"%>
    <% end %>
  </span>
  </div>
  <section id="multi-item">
    <% @items.each do |item| %>
      <section id="single-item">
        <div  class="single-item-img">
          <center><img src="<%= item.image %>" class="item-image"></center>
        </div>
        <div class="single-item-info">
          <h3><%= link_to item.name, "/items/#{item.id}" %></h3>
          <% if @merchant.nil? %>
            <p>Description: <%= item.description %></p>
          <% end %>
          <p>Price: <%= number_to_currency(item.price) %></p>
          <p>Status: <%= item.status %></p>
          <p>Inventory: <%= item.inventory %></p>
          <p>Merchant: <%= link_to "#{item.merchant.name}", "/merchants/#{item.merchant.id}"%></p>
        </div>
      </section>
    <% end %>
  </section>
</section>
