<h1>All Items</h1>

<main>
  <% @items.each do |item| %>
    <section id="item-id-<%= item.id %>">
      <%= image_tag item.image, alt: "image of #{item.name}" %>
      <h2>Name: <%= link_to item.name, "/merchants/#{item.merchant_id}" %></h2>
      <h3>Price: <%= number_to_currency(item.price) %></h3>
      <h3>Description: <%= item.description %></h3>
      <h3>Active: <%= item.active %></h3>
      <h3>Inventory: <%= item.inventory %></h3>
      <h3>Merchant: <%= item.merchant.name %></h3>
    </section>
  <% end %>
</main>
