<h4 style="display: inline" > All Items for: </h4>
<a style="color: #000000; text-decoration: underline;" href= <%= "/merchants/#{@merchant.id}"%>> <%= @merchant.name %> </a>
<%= link_to "New Item", "/merchants/#{@merchant.id}/items/new" %>

<h1> <%  @merchant.items.each do |item| %></h1>
  <h4 style="display: inline" > Name: </h4>
  <a style="color: #000000; text-decoration: underline;" href= <%= "/items/#{item.id}"%>> <%= item.name %> </a>
  <h4>Price: <%= number_to_currency(item.price) %></h4>
  <h4>Status: <%= item.status %></h4>
  <img src = <%= item.image %> ></img>
  <h4>Inventory: <%= item.inventory %></h4>
  <p>------------------------------------</p>
<% end %>
