<% @items.each do |item| %>
  <img class="img" src=<%= "#{item.image}" %>>
  <h2><a href=<%= "/items/#{item.id}" %>><%= item.name %></a></h2>
  <p><%= item.description %></p>
  <p>Price: $<%= item.price %></p>
  <p>Item status: <%= item.status %></p>
  <p>Number in stock: <%= item.inventory %></p>
  <br/>
  <br/>
<% end %>

<h3><%= link_to("Create New Item", "/merchants/#{params[:merchant_id]}/items/new") %></h3>
