<% @items.each do |item| %>
  <img class="img" src=<%= "#{item.image}" %>>
  <h2><%= item.name %></h2>
  <p><%= item.description %></p>
  <p>$<%= item.price %></p>
  <p><%= item.status %></p>
  <p>Number in stock:<%= item.inventory %></p>
  <br/>
  <br/>
<% end %>

<h3><%= link_to("Create New Item", "/merchants/#{params[:merchant_id]}/items/new") %></h3>
