<h1>Add a New Item</h1>
<hr>
<%= form_tag "/merchants/#{@merchant.id}/items" do %>
  <%= label_tag :name%>
  <br>
  <%= text_field_tag :name%>
  <br>
  <%= label_tag :description%>
  <br>
  <%= text_field_tag :description%>
  <br>
  <%= label_tag :image%>
  <br>
  <%= text_field_tag :image%>
  <br>
  <%= label_tag :price%>
  <br>
  <%= text_field_tag :price%>
  <br>
  <%= label_tag :inventory%>
  <br>
  <%= text_field_tag :inventory%>
  <br>
  <%= submit_tag 'Create Item'%>
<% end %>
