<br />
<br />
<div class="container">
  <%= form_tag "/merchants/#{@merchant.id}/items", method: :post do %>
  <div class="row">
    <div class="col-6 col-md-4">
      <p class='display-4'><%= label_tag :name %></p>
      <p class='display-4'><%= label_tag :price %></p>
      <p class='display-4'><%= label_tag :description %></p>
      <p class='display-4'><%= label_tag :image %></p>
      <p class='display-4'><%= label_tag :inventory %></p>
    </div>
    <div class="col-6 col-md-4">
      <p class='form-input'><%= text_field_tag :name %></p>
      <p class='form-input'><%= text_field_tag :price %></p>
      <p class='form-input'><%= text_field_tag :description %></p>
      <p class='form-input'><%= text_field_tag :image %></p>
      <p class='form-input'><%= text_field_tag :inventory %></p>
    </div>
  </div>
  <br />
  <div class="s"><%= submit_tag "Create New Item", class: "btn btn-primary" %></div>
  <% end %>
</div>
