<section class="page-wrapper">
  <div class="page-title-bar">
    <span class="page-title">Add a New Item for <%= @merchant.name %></span>
  </div>
  <%= form_tag "/merchants/#{@merchant.id}/items", method: :post, class: "margin" do %>
    <p>Name:        <br/><%= text_field_tag :name %></p>
    <p>Description: <br/><%= text_area_tag :description %></p>
    <p>Price:       <br/><%= text_field_tag :price %></p>
    <p>Image:       <br/><%= text_field_tag :image %></p>
    <p>Inventory:   <br/><%= text_field_tag :inventory %></p>
    <p><%= submit_tag 'Add Item'%></p>
  <% end %>
</section>
