<h1>Add a New Item</h1>
<%= form_tag '/merchants/:id/items' do %>
  <%= label_tag :name%>
  <%= text_field_tag :name%>

  <%= label_tag :description%>
  <%= text_field_tag :description%>

  <%= label_tag :image%>
  <%= text_field_tag :image%>

  <%= label_tag :price%>
  <%= text_field_tag :price%>

  <%= label_tag :active%>
  <%= text_field_tag :active%>

  <%= label_tag :inventory%>
  <%= text_field_tag :inventory%>

  <%= label_tag :merchant_id%>
  <%= text_field_tag :merchant_id%>

  <%= submit_tag 'Create Item'%>
<% end %>
