<h1><%= @item.name %></h1>

<p><%= @item.status %></p>

<p><%= @item.price %></p>

<p><%= @item.description %></p>

<%= image_tag(@item.image) %>

<p><%= @item.inventory %></p>

<%= link_to "#{@item.merchant_name}", "/merchants/#{@item.merchant.id}" %>

<%= link_to 'Edit Item', "/items/#{@item.id}/edit" %>

<%= button_to 'Delete', "/items/#{@item.id}", method: :delete %>
