<h1 class="mt-4"><%= @item.name %></h1>
<br />

<section class="card card-body bg-light item-container">

  <article class="text-container">
    <h5>Description</h5>
    <p><%= @item.description %></p><br />

    <h5>Price</h5>
    <p>$<%= "%.2f" % @item.price %></p><br />

    <h5>Product Status</h5>
    <% if @item.active_status %>
      <p>Active</p><br />
    <% else %>
      <p>Inactive</p><br />
    <% end %>

    <h5>Quantity in Stock</h5>
    <p><%= @item.inventory %></p><br />

    <h5>Merchant</h5>
    <p><%= link_to @item.merchant.name, "/merchants/#{@item.merchant.id}" %></p>
  </article>

  <article class="image-container">
    <img src="<%= @item.image %>" alt="<%= @item.name %>" />
  </article>
</section>

<br />
<p><a href="/items/<%= @item.id %>/edit" class="btn btn-primary">Update Item</a></p>

<form action="/items/<%= @item.id %>", method="POST">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
  <input type="hidden" name="_method" value="DELETE" />
  <input type="submit" name="delete_item" value="Delete Item" class="btn btn-danger"/>
</form>

<br />
<br />
<p><a href="/items" class="btn btn-secondary">Return to All Items</a></p>
