<h1><%= @item.name %></h1>

<p>Status: <%= @item.status %></p>
<p>Price: <%= @item.price %></p>
<p>Description: <%= @item.description %></p>
<p><%= @item.image %></p>
<p>Inventory: <%= @item.inventory %></p>
<p>Merchant: <%= @item.merchant.name %></p>
