<center>
  <section>
    <div class="">
      <h1><a href="/items/<%=@item.id%>"><%= @item.name %></a></h1>
    </div>
    <div class="">
      <img src=<%=@item.image %>>
    </div>
    <div class="">
      <p><%= @item.description %></p>
      <p>price:<%= number_to_currency(@item.price) %></p>
      <p>Number Remaining:<%= @item.inventory %></p>
      <p>active:<%= @item.active %></p>
      <p>Where to buy: <a href="/merchants/<%=@item.merchant_id%>"><%= Merchant.find(@item.merchant_id).name %>
    </div>
  </section>
</center>

<%= link_to "Edit Item", "/items/#{@item.id}/edit", method: :get %>
<%= link_to "Delete", "/items/#{@item.id}", method: :delete %>
