<h1><%= @item.name %></h1>

<p><%= @item.status %></p>

<p><%= @item.price %></p>

<p><%= @item.description %></p>

<%= image_tag(@item.image) %>

<p><%= @item.inventory %></p>

<p><%= @item.merchant_name %></p>
