<h1><%= @item.name %></h1>
<p>
  <%= @item.image%>
  <%= @item.price%>
  <%= @item.description%>
  <%= @item.active%>
  <%= @item.in_stock%>
  <%= @item.inventory%>
  <%= link_to "#{Merchant.find(@item.merchant_id).name}", "/merchants/#{@item.merchant_id}"%>
</p>
<%= link_to 'Edit item', "/items/#{@item.id}/edit"%>
<%= link_to 'Delete item', "/items/#{@item.id}", method: :delete%>
