<h1>Name:<%= @item.name %></h1>
<p>description:<%= @item.description %></p>
<p>price:<%= @item.price %></p>
<p>image: <img src=<%=@item.image %>></p>
<p>inventory:<%= @item.inventory %></p>
<p>active:<%= @item.active %></p>
<p>merchant name:<%= Merchant.find(@item.merchant_id).name %>

<%= link_to "Edit Item", "/items/#{@item.id}/edit", method: :get %>
