<h1 class='title'><%= @item.name %></h1>

<p id='description' class='info'><%= "Address: #{@item.description}" %></p>
<p id='price' class='info'><%= "City: #{@item.price}" %></p>
<p id='image' class='info'><%= "State: #{@item.image}" %></p>
<p id='active' class='info'><%= "Zip: #{@item.active}" %></p>
<p id='inventory' class='info'><%= "Zip: #{@item.inventory}" %></p>
<p id='merchant' class='info'><%= "Zip: #{@item.merchant.name}" %></p>

<!-- <p class='bottom_link'>
  <%# <%= link_to 'Edit', edit_item_path(@item) %> %>
  <%# <%= link_to 'Delete', delete_item_path(@item), method: :delete %> %>
</p> -->
