<h1><%= @item.name %></h1>

<p>Status: <%= @item.status %></p>
<p>Price: $<%= @item.price %></p>
<p>Description: <%= @item.description %></p>
<p><%= image_tag(@item.image_url, size: "250x250") %></p>
<p>Inventory: <%= @item.inventory %></p>
<p>Merchant: <%= @item.merchant.name %></p>
