<br>
<div class="container">
  <p class='display-4'><%= link_to @item.name, "/items/#{@item.id}" %></p>
  <div class="row">
    <div class="col-6 col-md-4">
      <img src=<%= @item.image %> class="item-img" alt="...">
    </div>

    <div class="col-6 col-md-4">
      <ul class="list-unstyled">
        <ul class="item-info">
          <li>Status: <%= @item.status %></li>
          <li>Price: $<%= @item.price %></li>
          <li>Description: <%= @item.description %></li>
          <li>Inventory: <%= @item.inventory %></li>
          <li>Merchant: <%= link_to @item.merchant.name, "/merchants/#{@item.merchant.id}" %></li>
        </ul>
      </ul>

      <div>
        <span class="item-buttons"><%= link_to "Update Item", "/items/#{@item.id}/edit", class: "btn btn-success"%></span>
        <span class="item-buttons"><%= link_to "Delete Item", "/items/#{@item.id}", method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></span>
      </div>

    </div>
  </div>



</div>
