<section class="item">
  <h2><%= @item.name %></h2>
  <%= image_tag ("#{@item.image}") %>
  <p><%= @item.description %></p>
  <p>$<%= @item.price %></p>
  <% if @item.active %>
    <p>In Stock</p>
  <% else %>
    <p>Out of Stock </p>
  <% end %>
  <p>Inventory: <%= @item.inventory %></p>
  <p>Merchant: <%= @item.merchant.name %></p>
  <br>
  <%= link_to 'Update Item Info', "/items/#{@item.id}/edit" %>
</section>
