
<h1><%= @item.name %></h1>
<p>
  Description: <%= @item.description %>
  Price: <%= @item.price %>
  Image: <%= @item.image %>
  Active Status: <%= @item.active %>
  Inventory: <%= @item.inventory %>
  Merchant: <%= @item.merchant.name %>
  <%= button_to 'Edit', "/items/#{@item.id}/edit", method: :get %>
  <%= button_to 'Delete', "/items/#{@item.id}", method: :delete %>
</p>