<img class="img" src=<%= "#{@item.image}" %>>
<h2><%= @item.name %></h2>
<p><%= @item.description %></p>
<p>Price: $<%= @item.price %></p>
<p>Item status: <%= @item.status %></p>
<p>Number in stock: <%= @item.inventory %></p>
<h3>Merchant: <a href=<%= "/merchants/#{@item.merchant.id}" %>><%= @item.merchant.name %></a></h3>

<h3><%= link_to("Update Item", "/items/#{@item.id}/edit") %></h3>
<h3><%= link_to("Delete Item", "/items/#{@item.id}", method: :delete) %></h3>
