<%= link_to 'Items', items_path %>
<%= link_to 'Merchants', merchants_path %>

<section class="item-<%= @item.id %> ">
  <h1><%= @item.name %></h1>
  <p>Description: <%= @item.description %></p>
  <p>Price: <%= @item.price %></p>
  <p><%= @item.image %></p>
  <p>Active: <%= @item.active %></p>
  <p>Inventory: <%= @item.inventory %></p>
  <p>Merchant: <%= link_to @item.merchant.name, merchant_path(@item.merchant) %></p>
  <%= link_to 'Edit', edit_item_path %>
</section>
