<h1> Item: <%= @item.name %></h1>

<p> Active Status: <%= @item.active_status %></p>
<p> Price: <%= @item.price %></p>
<p> Description: <%= @item.description %></p>
<p> Image: <%= @item.image %></p>
<p> In Stock: <%= @item.inventory %></p>
<p> Merchant: <%= @item.merchant.name %></p>
