<div class="pageheaders">
  <h1 style="display: inline">Product: </h1>
  <a style="color: #000000; text-decoration: underline;" href= <%= "/items/#{@item.id}"%>> <%= @item.name %></a>
</div>
<div class="links"><%= link_to "Update Item", "/items/#{@item.id}/edit" %></div>
<div class="links"><%= link_to "Delete Item", "/items/#{@item.id}", method: :delete %></div>

  <h4>Description: <%= @item.description %></h4>
  <h4>Price: <%= number_to_currency(@item.price) %></h4>
  <h4>Status: <%= @item.status %></h4>
  <img src = <%= @item.image %> ></img>
  <h4>Inventory: <%= @item.inventory %></h4>
  <h4 style="display: inline" > Merchant: </h4>
  <a style="color: #000000; text-decoration: underline;" href= <%= "/merchants/#{@item.merchant.id}"%>> <%= @item.merchant.name %> </a>
