<% item = @item %>
<h1 class='title'><%= item.name %></h1>

<%= render partial: 'item_details', locals: {item: item} %>
<section class='image'>
  <%= image_tag(item.image, size: "600x450") %>
</section>
<p id='merchant' class='info'>
  Merchant: <%= link_to "#{item.merchant.name}", merchant_path(item.merchant) %>
</p>

<section class='nav-2'>
  <section class='nav-group'>
    <section role="group" class="btn-group">
      <%= button_to 'Edit', edit_item_path, method: :get, class: 'nav-btn' %>
    </section>
    <section role="group" class="btn-group">
      <%= button_to 'Delete', delete_item_path, method: :delete, class: 'nav-btn' %>
    </section>
  </section>
</section>
