<br />

<div class="container">
  <p class='display-3'><%= link_to @merchant.name, "/merchants/#{@merchant.id}" %></p>
  <br>
  <p><%= link_to "Add New Item", "/merchants/#{@merchant.id}/items/new", class: "btn btn-outline-success" %></p>
  <br>
  <div class="row">
    <% @items.each do |item| %>
      <div class="col-sm">
        <div class="card" style="width: 18rem; height: 35rem;">
          <img src = <%= item.image %> class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title"><%= link_to item.name, "/items/#{item.id}" %></h5>
            <p class="card-text"><%= item.description %></p>
            <p class="card-text">Price: <%= item.price %></p>
            <p class="card-text">Status: <%= item.status %></p>
            <p class="card-text">Inventory: <%= item.inventory %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
