<h1><%= @item.name %></h1>
<p>Description: <%= @item.description %></p>
<p>Price: $<%= @item.price %></p>
<p>Image: <%= image_tag(@item.image, {:style =>'max-width:250px;max-height:250px'}) %></p>
<p>Status: <%= @item.status %></p>
<p>Inventory: <%= @item.inventory %></p>
<p>Merchant: <%= link_to "#{@item.merchant.name}", "/merchants/#{@item.merchant_id}" %></p>
<br />
<br />
<br />
<br />
<br />
<% if @item.status == "active" %>
  <%= link_to "Deactivate", "/items/#{@item.id}/deactivate", data: {toggle: 'status' } %>
<% else %>
  <%= link_to "Activate", "/items/#{@item.id}/activate", data: {toggle: 'status' } %>
<% end %>
<br />
<%= link_to "Update Item", "/items/#{@item.id}/edit" %>
<br />
<%= link_to "Delete", "/items/#{@item.id}", method: :delete %>
