<h1>Product: <%= @item.name %></h1>

<%= link_to "Update Item", "/items/#{@item.id}/edit" %>

  <h4>Description: <%= @item.description %></h4>
  <h4>Price: <%= number_to_currency(@item.price) %></h4>
  <h4>Status: <%= @item.status %></h4>
  <img src = <%= @item.image %> ></img>
  <h4>Inventory: <%= @item.inventory %></h4>
  <h4>Merchant: <%= @item.merchant.name %></h4>
