<!DOCTYPE html>
<html>
  <head>
    <title>Mini Shop 1908</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1><%= 'Mini Shop' %></h1>
    </header>
    <nav>
        <h3><%= link_to "All Items", "/items"%>
        <%= link_to "All Merchants", "/merchants"%></h3>
    </nav>
    <%= yield %>
  </body>
</html>
