<!DOCTYPE html>
<html>
  <head>
    <title>MiniShop</title>
    <%= csrf_meta_tags %>
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>


    <%= stylesheet_link_tag 'https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top">
    <a class="navbar-brand" href="#">MiniShop</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <div class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </div>
          <div class="nav-item">
            <a class="nav-link" href="/merchants">Merchants<span class="sr-only">(current)</span></a>
          </div>
          <div class="nav-item">
            <a class="nav-link" href="/items">Items</a>
          </div>
        </ul>

      </div>
    </nav>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
