<!DOCTYPE html>
<html>
  <head>
    <title>MiniShop</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= link_to "All Merchants", "/merchants", class: "nav-button" %>
    <%= link_to "All Items", "/items", class: "nav-button" %>
    <%= yield %>
  </body>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</html>
